$color-bg: #FDFDFB;
$color-black: #1B1A17;
$color-light-black: #444240;
$color-light-brown: #D4B098;
$color-yellow-brown: #8B8371;
$color-light-yellow: #F7F5EF;
$font-sz-section-header: 32px;
$font-sz-section-text: 16px;
$font-sz-link-header: 14px;
