.footer__container {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  padding: 67px 0;

  @media screen and (min-width: 768px) and (max-width: 1040px) {
    padding: 67px 40px;
  }

  @media screen and (max-width: 767px) {
    padding: 50px 30px 10px;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (max-width: 425px) {
    justify-content: space-between;
  }
}