.social__description {
  margin: 0 0 118px;
  max-width: 380px;
  font-weight: 400;
  font-size: $font-sz-section-text;
  line-height: 27px;
  color: $color-light-black;

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin: 0 0 80px;
  }

  @media screen and (max-width: 767px) {
    margin: 0 0 40px;
  }
}