.showcase__diameter {
  position: absolute;
  font-family: $font-playfair-display;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $color-black;
  top: 78%;
  left: 82%;

  &::before {
    @extend %line;
    top: 50%;
    left: -65px;

    @media screen and (max-width: 1023px) {
      width: 25px;
      left: -35px;
    }
  }

  @media screen and (max-width: 425px) {
    font-size: 12px;
  }
}