.header__link-item {
  margin-right: 23px;
  transition: transform 0.2s ease-in;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    transform: scale(1.03, 1.03) rotate(0.05turn);
  }

  &:nth-child(2) {
    position: relative;

    &::after {
      display: block;
      content: '1';
      width: 13px;
      height: 13px;
      position: absolute;
      top: -3px;
      right: -6px;
      border-radius: 50%;
      background-color: #E6C8B4;
      color: $color-black;
      font-weight: 400;
      font-size: 8px;
      line-height: 9px;
      text-align: center;
      padding: 2px;
      box-sizing: border-box;
    }
  }
}